html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* IMPORTANT */
header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;  
}
